// widescreens
@include mediaXl {
}

//desktops and laptops
@include mediaLg {
}

//Tablets and small laptops
@include mediaMd {
  main {
    align-items: center;
    text-align: center;

    .lg-heading {
      line-height: 1;
      margin-bottom: 1rem;
    }
  }

  //   ul.menu-nav,
  //   div.menu-branding {
  //     float: none;
  //     width: 100%;
  //     min-height: 0;
  //   }

  .menu-nav {
    height: 50vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }

  //changes the look for different sizes of page!
  //   .about-info{
  //       grid-template-areas:
  //       'bio'
  //       'Experience-1'
  //       'Experience-2';
  //   }
}

//smartphones
@include mediaSm {
  main#home h1 {
    margin-top: 10vh;
  }

  .Projectss {
    display: grid;
    grid-gap: 20rem;
    grid-template-columns: 1fr;
  }
}
